.card-anime{
    width: 100%;
    height: 100%;
    background: var(--cor-cinza);
    padding: var(--espacamento);
    border: 2px solid var(--cor-hover);
    border-radius: calc(var(--espacamento-s) * 2);
    display: flex;
    flex-direction: column;
    gap: var(--espacamento);
    cursor: pointer;
    transition: 0.3s ease;
    overflow: hidden;
    position: relative;

    & span{
        position: absolute;
        background: var(--cor-primaria);
        padding: calc(var(--espacamento) * 0.5);
        transform: translateY(-150px);
        transition: 0.5s ease;
    }

    & img{
        width: 100%;
    }

    & h2{
        text-align: center;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:hover{
        border-color: var(--cor-primaria);
        box-shadow: var(--espacamento-s) var(--espacamento-s) calc(var(--espacamento-s) * 3) var(--cor-primaria);

        & span{
            transform: translateY(0);
        }
    }
}