@if (anime) {
    <div class="anime-page">
        <img [src]="anime.imagemURL"/>
        <div class="anime-info">
            <div [class]="vitorias.length > 0 && vitorias[0].nome == 'Anime do Ano' ? 'nome-id aoty-div' : 'nome-id'">
                <h1>{{ anime.nome }} <span>#{{ anime.id }}</span></h1>
                @if(vitorias.length > 0 && vitorias[0].nome == "Anime do Ano")
                {
                    <span class="aoty">Anime do Ano</span>
                }
            </div>
            <ul>
                <li>Temporada: <span>{{ anime.temporadaAnime }}</span></li>
                <li>Lançamento: <span>{{ anime.temporadaLancamento }}</span></li>
                <li>
                    @if (anime.estudio.length > 1) {Estudios: }
                    @else {Estudio: }
                    <span>{{ anime.estudio.join(' - ') }}</span>
                </li>
                <li>
                    @if (anime.generos.length > 1) {Gêneros: }
                    @else {Gênero: }
                    <span>{{ anime.generos.join(' - ') }}</span>
                </li>
                <li>Fonte: <span>{{ anime.fonte }}</span></li>
            </ul>
            <div class="botoes">
                <button (click)="onEdit()">
                    <span>EDITAR</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M12 20h9M16 4l4 4-9 9H7v-4l9-9z" />
                    </svg>
                  </button>
            </div>
            @if(vitorias.length > 0)
            {
                <h1>Vitórias</h1>
                <ul class="vitorias">
                    @for(vitoria of vitorias; track vitorias)
                    {
                        @if(vitoria.nome != "Anime do Ano")
                        {
                            <li (click)="verCategoria(vitoria.nome)">{{ vitoria.nome }}</li>
                        }
                    }
                </ul>
            }
        </div>
    </div>
}