.anime-page{
    display: flex;
    gap: var(--espacamento);

    & img{
        width: 20%;
        min-width: 200px;
        max-width: 350px;
        height: fit-content;
    }

    & .anime-info{
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: var(--espacamento);

        & .nome-id{
            display: flex;
            align-items: center;

            &.aoty-div {
                width: fit-content;
                align-items: flex-start;
                flex-direction: column;
                
                & h1{
                    padding-inline: var(--espacamento);
                    border-bottom: 2px solid var(--cor-ouro);
                    transition: all 0.3s ease;
                }

                & .aoty{
                    display: block;
                    padding: 0;
                    font-size: var(--font-size-standart);
                    background: var(--cor-ouro);
                    color: var(--cor-cinza);
                    font-weight: bold;
                    width: 100%;
                    height: 0;
                    overflow: hidden;
                    white-space: nowrap;
                    transition: all 0.3s ease;
                }

                &:hover{
                    & .aoty{
                        text-align: center;
                        height: fit-content;
                        padding: calc(var(--espacamento) * 0.5);
                    }
                }
            }

            & h1{
                font-size: calc(var(--font-size-standart) * 2);
    
                & span{
                    color: var(--cor-primaria);
                }
            }
        }

        & ul{
            list-style: none;
            font-size: var(--font-size-standart);

            & li{
                padding: var(--espacamento);
                border-bottom: 2px solid #fff;
                display: flex;
                flex-wrap: wrap;
                gap: calc(var(--espacamento) * 0.5);
            }

            &.vitorias{
                display: flex;
                flex-wrap: wrap;
                gap: var(--espacamento);
                
                & li{
                    background: var(--cor-cinza);
                    transition: 0.3s ease;
                    cursor: pointer;
                    width:clamp(250px,20%,400px);
                    display: grid;
                    text-align: center;
                    align-content: center;

                    &:hover{
                        background: var(--cor-primaria);
                    }

                    &.aoty{
                        border: var(--espacamento-s) solid var(--cor-ouro);
                        width: 100%;
                        justify-content: center;
                        font-size: calc(var(--font-size-standart) * 1.5);
                        font-weight: bold;
                        color: var(--cor-cinza);
                        background: var(--cor-ouro);
                    }
                }
            }
        }

        & .botoes{
            display: flex;
            gap: var(--espacamento);
            justify-content: flex-end;
            flex-wrap: wrap;

            & button{
                width: 200px;
                padding: calc(var(--espacamento) * 0.5) var(--espacamento);
                background: var(--cor-cinza);
                border: none;
                outline: none;
                font-weight: bold;
                font-size: calc(var(--font-size-standart) * 0.8);
                transition: 0.3s ease;
                display: flex;
                justify-content: center;
                gap: calc(var(--espacamento) * 0.5);
                align-items: center;

                &:hover, &:focus{
                    background: var(--cor-primaria);
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .anime-page{
        flex-direction: column;
        align-items: center;

        img{
            width: 30%;
        }

        & .anime-info{
            width: 100%;

            h1{
                text-align: center;
            }

            & ul.vitorias{
                justify-content: center;

                li{
                    width: 40%;
                }
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .anime-page .anime-info ul.vitorias li{
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .anime-page .anime-info .botoes button{
        width: fit-content;

        span{
            display: none;
        }
    }
}