.card-categoria{
    background: var(--cor-cinza);
    border: 2px solid var(--cor-hover);
    border-radius: calc(var(--espacamento-s) * 2);
    padding: var(--espacamento);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--espacamento);
    align-items: center;
    text-align: center;
    cursor: pointer;

    &:hover{
        border-color: var(--cor-primaria);
        box-shadow: var(--espacamento-s) var(--espacamento-s) calc(var(--espacamento-s) * 3) var(--cor-primaria);
    }

    img{
        width: clamp(200px, 50%, 100%);
    }

    .casal{
        display: flex;
        max-width: 100%;

        .casal-img{
            width: 50%;
            min-width: 50%;
        }
    }
}