div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--espacamento);
    min-width: 250px;

    & .titulo-pagina{
        font-size: calc(var(--font-size-standart) * 2);
        flex: 1;
    }

    & button{
        background: var(--cor-primaria);
        font-size: calc(var(--font-size-standart) * 2);
        padding: calc(var(--espacamento) * 0.5);
        border: none;
        outline: none;
        border-radius: 50%;
        width: calc(var(--espacamento) * 3);
        aspect-ratio: 1;
        cursor: pointer;
    }
}


.lista-animes{
    list-style: none;
    font-size: calc(var(--font-size-standart) * 0.75);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: stretch;
    gap: var(--espacamento);
    margin: var(--espacamento) auto;

    & li{
        min-width: 250px;
    }
}

@media screen and (max-width: 1300px){
    .titulo-pagina{
        width: calc(100% - var(--espacamento) * 6);
    }

    app-select{
        width: 100%;
    }

    .lista-animes{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1000px){
    .lista-animes{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 700px){
    div .titulo-pagina{
        font-size: calc(var(--font-size-standart) * 1.5);
    }
    
    div button{
        font-size: calc(var(--font-size-standart) * 1.5);
        width: calc(var(--espacamento) * 2.5);
    }
    
    .lista-animes{
        grid-template-columns: 1fr;

        & li{
            width: 350px;
            margin-inline: auto;
        }
    }
}

@media screen and (max-width: 420px){
    div .titulo-pagina{
        font-size: calc(var(--font-size-standart) * 1.2);
    }

    div button{
        font-size: calc(var(--font-size-standart) * 1);
        width: calc(var(--espacamento) * 2);
    }
    
    .lista-animes{
        & li{
            width: calc(100vw - var(--espacamento) * 4);
        }
    }
}