div{
    display: flex;
    align-items: flex-start;
    gap: var(--espacamento);
    justify-content: space-between;

    & .generos{
        overflow-x: auto;
    }
}


.lista-animes{
    list-style: none;
    font-size: calc(var(--font-size-standart) * 0.75);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: stretch;
    gap: var(--espacamento);
    margin: var(--espacamento) auto;

    & li{
        min-width: 250px;
    }
}

@media screen and (max-width: 1300px){
    .lista-animes{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1000px){
    .lista-animes{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 700px){
    .lista-animes{
        grid-template-columns: 1fr;

        & li{
            width: 350px;
            margin-inline: auto;
        }
    }
}

@media screen and (max-width: 420px){
    .lista-animes{
        & li{
            width: calc(100vw - var(--espacamento) * 4);
        }
    }
}