@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root{
    --cor-primaria: #ec0c3d;
    --cor-branca: #fff;
    --cor-hover: #0002;
    --cor-hover-2: #fff2;
    --cor-sucesso: #03f375;
    --espacamento: 24px;
    --font-size-standart: 1.5rem;
}

html{
    color-scheme: dark;
}

app-root{
    display: flex;
}